@model TrelloModel.Board

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Lists of Board", "ListsOfBoard", "List", new { boardid = Model.BoardId }, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Edit", "Edit", new {id = Model.BoardId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
