@using PagedList
@using PagedList.Mvc
@model Tuple<IEnumerable<TrelloMVC.ViewModels.BoardViewModels.BoardViewModel>,int>


<div class="panel panel-default">
    <div class="panel-heading">All Boards</div>
    <table id="ItemTable" class="table">
<thead>        
 <tr>
     <th>        
         @Html.ActionLink("Name", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter}
             /* , new AjaxOptions { UpdateTargetId = "IndexPartialView", Url = Url.Action("IndexPartial", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })}*/)
     </th>
            <th>
                @Html.ActionLink("Discription", "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }
                                  /*,new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndexPartialView", InsertionMode = InsertionMode.Replace }*/)
            </th>
            <th>
                Operations
            </th>
        </tr>
        </thead>
<tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    <div role="group" aria-label="...">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning", @style = "margin: 5px;" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", @style = "margin: 5px;" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", @style = "margin: 5px;" })
                    </div>
                </td>
            </tr>
        }
</tbody>
    </table>
    <br/>
</div>

@{
    var pagelist = new List<string>();
    for (var i = 0; i < @ViewBag.ElemCount; i++)
    {
        pagelist.Add(string.Empty);
    }
}
<div>
    Page @Model.Item2 of @ViewBag.PageCount
    @Html.PagedListPager(pagelist.ToPagedList(Model.Item2, 5), page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>