@model TrelloMVC.ViewModels.ListViewModels.ListViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete List</h2>
<div>
    <h4>Are you sure you want to delete the List <b>'@Model.Name'</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger"/>
            @Html.ActionLink("Back to List", "ListsOfBoard", new { boardid = ViewBag.BoardId }, new { @class = "btn btn-primary"})
        </div>
    }
</div>
