@model TrelloMVC.ViewModels.ListViewModels.ListViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details of List <b>'@Model.Name'</b></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardName)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Lists's Cards", "CardsOfList", "Card", new {boardid = ViewBag.BoardId, listid = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-warning"})
    @Html.ActionLink("Back to List", "ListsOfBoard", new {boardid = ViewBag.BoardId}, new {@class = "btn btn-primary"})
</div>