@model IEnumerable<TrelloModel.List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new{boardid = ViewBag.BoardId})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Board.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Board.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListId })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Board", "Index", "Board", new { boardid = @ViewBag.BoardId }, null)
</p>