@model IEnumerable<TrelloModel.List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {boardid = ViewBag.BoardId}, new {@class = "btn btn-success"})
</p>

<div class="panel panel-default">
    <div class="panel-heading">All Lists from Board</div>
    <table class="table" id="Lists">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Board.Name)
            </th>
            <th>
                Operations
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Lix)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="vertical-align: middle">
                        @Html.DisplayFor(modelItem => item.Board.Name)
                    </td>
                    <td>
                        <div role="group" aria-label="...">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ListId }, new { @class = "btn btn-warning", @style = "margin: 5px;" })
                            @Html.ActionLink("Details", "Details", new { id = item.ListId }, new { @class = "btn btn-info", @style = "margin: 5px;" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ListId }, new { @class = "btn btn-danger", @style = "margin: 5px;" })
                        </div>
                    </td>
                </tr>

            }
        </tbody>
</table>
    </div>
<div>
    @Html.ActionLink("Back to Board", "Index", "Board", new {boardid = @ViewBag.BoardId}, new {@class = "btn btn-primary"})
</div>

