@model TrelloMVC.ViewModels.CardViewModels.CardViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Board.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class = "btn btn-warning"})
    @Html.ActionLink("Back to List", "CardsOfList", new { boardid = ViewBag.BoardId, listid = ViewBag.ListId }, new { @class = "btn btn-primary" })
</p>
